<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile page!</title>
</head>
<body>
    <%- include('common/header') %>
    <h1> Welcome to your profile page! </h1>
    <!-- <h2> hi there, buddy</h2> -->
    <h2> Hi there, <%= user.name %></h2>
    <h2> Your email adddress is <%= user.email %></h2>
    <h3> 
        Various skills: 
        <ul>
            <% user.skills.forEach((item) => { %>
                <li> <%= item %></li>
            <% }) %> 
            
        </ul>
    </h3>
</body>
</html>